{% extends 'base.html' %}

{% block title %} Blog home {% endblock %}

{% block content %}

    <h1>Home page</h1>
    <hr>
    {% for blog in blogs %}
        <h3><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h3>
        <p><a href="{% url 'category_blogs' blog.category.slug %}">{{ blog.category.name }}</a>
            Sana: {{ blog.created | date:'Y-m-d // h:i' }}</p>
        <img style="width: 400px;" src="{{ blog.image.url }}" alt="Bu rasm">
        <p>{{ blog.description | truncatechars:100 }}</p>
        <p>User: {{ blog.user.username }}</p>
        <p>Ko'rishlar soni: {{ blog.views }}</p>
        {% for tag in blog.tags.all %}
            <a href="{% url 'tag_blogs' tag.slug %}">#{{ tag.name }} </a>
        {% endfor %}
        <hr>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if blogs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for i in blogs.paginator.page_range %}
                <li class="{% if i == blogs.number %}page-item active{% else %}page-item{% endif %}">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                </li>
            {% endfor %}
            {% if blogs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}